<div id="adyen-encrypted-form">
  <fieldset>
    <legend>Card Details</legend>

    <div class="field">
      <label for="adyen-encrypted-form-holder-name">
        <%= Spree.t(:holder_name, scope: [:spree, :adyen_cse, :payment_form_labels]) %>
      </label>
      <input id="adyen-encrypted-form-holder-name"
             placeholder="<%= Spree.t(:holder_name, scope: [:spree, :adyen_cse, :payment_form_placeholders]) %>"
             size="20"
             type="text"
             autocomplete="off"
             data-encrypted-name="holderName" />
    </div>

    <div class="field">
      <label for="adyen-encrypted-form-number"><%= Spree.t(:number, scope: [:spree, :adyen_cse, :payment_form_labels]) %></label>
      <input id="adyen-encrypted-form-number"
             placeholder="<%= Spree.t(:number, scope: [:spree, :adyen_cse, :payment_form_placeholders]) %>"
             size="20"
             type="tel"
             autocomplete="off"
             data-encrypted-name="number" />
    </div>

    <div class="field">
      <label for="adyen-encrypted-form-cvc"><%= Spree.t(:cvc, scope: [:spree, :adyen_cse, :payment_form_labels]) %></label>
      <input id="adyen-encrypted-form-cvc"
             placeholder="<%= Spree.t(:cvc, scope: [:spree, :adyen_cse, :payment_form_placeholders]) %>"
             size="4"
             autocomplete="off"
             data-encrypted-name="cvc"
             type="tel" />
    </div>

    <div class="field">
      <label for="adyen-encrypted-form-expiry-month"><%= Spree.t(:expiry_month, scope: [:spree, :adyen_cse, :payment_form_labels]) %></label>

      <input id="adyen-encrypted-form-expiry-month"
             type="tel"
             placeholder="<%= Spree.t(:expiry_month, scope: [:spree, :adyen_cse, :payment_form_placeholders]) %>"
             maxlength="2"
             autocomplete="off"
             data-encrypted-name="expiryMonth" /> /

      <label for="adyen-encrypted-form-expiry-year"><%= Spree.t(:expiry_year, scope: [:spree, :adyen_cse, :payment_form_labels]) %></label>
      <input id="adyen-encrypted-form-expiry-year"
             size="4"
             type="tel"
             maxlength="4"
             autocomplete="off"
             placeholder="<%= Spree.t(:expiry_year, scope: [:spree, :adyen_cse, :payment_form_placeholders]) %>"
             data-encrypted-name="expiryYear" />
    </div>
    <input type="hidden"
           id="adyen-encrypted-form-expiry-generationtime"
           value="<%= DateTime.current() %>"
           data-encrypted-name="generationtime" />
  </fieldset>
</div>

<%= javascript_include_tag 'encrypt.adyen.js' %>

<script>
  var form = document.getElementById('checkout_form_payment'),
      key = "<%= payment_method.options[:public_key] %>",
      options = {
        'name': "<%= "order[payments_attributes][][source_attributes][encrypted_data]" %>"
      };

    adyen.encrypt.createEncryptedForm(form, key, options);
</script>
